<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <br/>
    <h1>Something went wrong! </h1>
    </br>
    <a class="btn btn-sm btn-secondary" href="/">Back to menu</a>
    <br/>
    </br>
    <h2>Error status:</h2>
    <a th:text="${status}"></a>
    </br>
    <h2>Error message:</h2>
    <a th:text="${message}"></a>
    <h2>Additional info</h2>
    </br>
    <a th:text="${error}"></a>
    </br>
    </br>
    <a class="btn btn-sm btn-secondary" href="/">Back to menu</a>
</div>
</body>
</html>
