<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update building</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/buildings/{id}(id=${building.getId()})}" th:object="${building}">
    <label for="buildingName">Change name: </label>
    <input type="text" th:field="*{buildingName}" id="buildingName"/>
    <br/>
    <input type="submit" value="Update!">
</form>

<a href="/buildings/allBuildings">Cancel</a>

</body>
</html>